<div class=" container form-profesor">
    <div class="col col-6">
      <form [formGroup]="profesorInfo">
        <div class="form-control">

          <input class="form-control" id="nombreCompleto" type="text" placeholder="Nombre Completo"
            formControlName="nombreCompleto" required>

            <span style="font-size: smaller; color: grey;">Intenta ingresar una letra</span>
          <input (keypress)="keyPressNumbers($event)" class="form-control" id="nombreCompleto" type="text" placeholder="Años de Docencia"
            formControlName="aniosDocencia" required>

          <!-- Campo solo numeros -->
          <div class="alert alert-danger" role="alert" [hidden]="caracterInvalidBis">
            <span>Caracter no permitido</span>
          </div>

          <select class="form-select form-control" formControlName="materias" required>
            <option disabled>Seleccione sus materias</option>
            <option autofocus value="matematica">Matemática</option>
            <option value="lengua">Lengua</option>
            <option value="sociales">Cs. Sociales</option>
            <option value="naturales">Cs. Naturales</option>
          </select>


          <select class="form-select form-control" formControlName="horaSemanales" required>
            <option disabled>Seleccione cantidad de horas</option>
            <option autofocus value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="30">30</option>
          </select>
          
          <span style="font-size: smaller; color: grey;">Intenta ingresar una letra</span>
          <input (keypress)="keyPressNumbers($event)" class="form-control" id="nombreCompleto" type="text" placeholder="¿Cuántos alumnos tiene a cargo?"
            formControlName="alumnosACargo" required>

          <!-- Campo solo numeros -->
          <div class="alert alert-danger" role="alert" [hidden]="caracterInvalid">
            <span>Caracter no permitido</span>
          </div>

          <input class="form-control" id="nombreCompleto" type="text" placeholder="¿En que institucion ejerce?"
            formControlName="institucion" required>

          <input class="form-control" id="nombreCompleto" type="text" placeholder="Ingrese su email"
            formControlName="email" required>

        </div>

      </form>
      <button type="button" class="btn btn-dark" (click)="onSubmit()" [disabled]="!profesorInfo.valid">A Por
        Ello!</button>
    </div>
    <!-- Succes -->
    <div class="col col-6 back-succes" *ngIf="enviado"> 
      <h1>Sus datos se enviaron con Éxito</h1>
      <img class="rotate-hor-center " src="https://img.icons8.com/cotton/64/000000/blushing.png"/>
    </div>
  </div>

