.form-profesor{
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.form-control{
    margin-bottom: 1rem;
}
.back-succes{
    padding:2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  & h1{
      text-align: center;
      font-size: 29px;
      margin-bottom: 3rem;
      color: #ce07ad;
  }
  & img{
      width: 8rem;
  }
  
}

.rotate-hor-center {
	animation: rotate-hor-center 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
@keyframes rotate-hor-center {
    0% {
      transform: rotateX(0);
    }
    100% {
      transform: rotateX(-360deg);
    }
  }
  